
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Water Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Water Monitoring" />
    <!-- Bootstrap -->
    <link href="static/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link href="static/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <!-- Main Css -->
    <link href="static/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <link href="static/colors/default.css" rel="stylesheet" id="color-opt">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawChart2);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
			{% for key,value in data.items() %}
				{% if value is string %}
					['{{ key }}', '{{ value }}'],
				{% else %}
					['{{ key }}', {{ value }}],
				{% endif %}
			{% endfor %}
        ]);

        var options = {
          title: 'Water safety',
          is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }

    function drawChart2() {
      var data2 = google.visualization.arrayToDataTable([
        {% for key,value in data2.items() %}
                {% if value is string %}
                    ['{{ key }}', '{{ value }}'],
                {% else %}
                    ['{{ key }}', {{ value }}],
                {% endif %}
            {% endfor %}
      ]);

    
      var options = {
        title: "Area wise data",
        width: 900,
        height: 500,
        bar: {groupWidth: "90%"},
        legend: { position: "none" },
      };
      var chart2 = new google.visualization.ColumnChart(document.getElementById("barchart_values"));
      chart2.draw(data2, options);
  }
    </script>
  </head>
  <body>
    <!-- Hero Start -->
    <section class="bg-light d-table w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h4 class="title" style="margin-top:50px;">Water Monitoring System</h4>
                        <div class="page-next">
                            <nav aria-label="breadcrumb" class="d-inline-block">
                                <ul class="breadcrumb bg-white rounded shadow mb-0">
                        
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>  <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Hero End -->

    <!-- Piechart start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-6">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                          <div class="rounded shadow p-4">
                            <div class="row">
                              <div id="piechart" style="width: 900px; height: 500px;"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Piechart end -->

    <!-- Bargraph start -->
    <section class="section" style="margin-top: -200px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                          <div class="rounded shadow p-4">
                            <div class="row">
                              <div id="barchart_values" style="width: 900px; height: 500px;"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bargraph end -->

    <section class="d-table w-100" style="margin-top: -100px; margin-bottom: 50px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <button class="btn btn-primary"><a href="http://127.0.0.1:5000/"><span style="color: white;">Go to Form Page</span></a></button>
                    </div>
                </div>  <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section>
  </body>
</html>